/* Color Scheme: #C1F6ED (very light green), #02535C (deep teal), #449342 (grass green), #2EAF7D (lighter green), #3FD0C9 (light teal)*/
html {
    background: linear-gradient(#449342 90%, #2EAF7D);
    background-size: contain;
    height: 100%;
}

header {
    background-color: #02535C;
    padding: 1.5em;
}
h1 {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #C1F6ED;
    text-align: center;
}

hr {
    margin: 0;
}

#navbar a {
    font-family: Impact, 'Times New Roman', Times, serif;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-size: xx-large;
    color: #C1F6ED;
}

body {
    margin: auto;
    padding: 0;
    align-content: center;
}
img{
    display: flex;
    width: 20%;
    margin: 0 auto;
    align-content: center;
    border: 2px white solid;
}

p {
    color: #C1F6ED;
    padding: 10px;
    font-size: x-large;
    text-align: center;
    margin: 0 10%;
}
body{
    height: 100%;
}